@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700);
body {
  font-family: 'Lato', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: 'Lato', sans-serif;
}
h2 {
  font-size: 32px;
  font-weight: 300;
  line-height: 32px;
}
h3 {
  font-size: 24px;
}
p {
  font-size: 16px;
}
.title {
  text-align: center;
}
.title h2 {
  font-size: 36px;
  color: #1b1b1b;
  font-weight: 300;
}
.title p {
  font-size: 18px;
  font-weight: 400px;
  color: #9da8ad;
}
.navbar-default {
  background: transparent;
  border: none;
  margin-bottom: 0;
}
ul li {
  list-style: none;
}
header {
  background-image: url("../images/hero-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 15%;
}
header .app-showcase {
  text-align: right;
}
header .block {
  padding-top: 70px;
  padding-bottom: 400px;
}
header .block .logo {
  display: inline-block;
  margin-bottom: 70px;
}
header .block h2 {
  margin-bottom: 15px;
  color: #fff;
}
header .block p {
  margin-bottom: 27px;
  margin-top: 0;
  color: #FAFAFA;
}
header .block .download-btn a {
  display: inline-block;
  margin-right: 10px;
}

footer {
  padding: 20px 0;
  background: #fafafa;
  border-top: 1px solid #d7d7d7;
}
footer .navbar-nav {
  float: none;
  display: inline-block;
}
footer .navbar-nav li a {
  font-size: 20px;
  font-weight: normal;
}
footer .navbar-default .navbar-nav > li > a {
  color: #989898;
  padding: 20px 25px;
}
footer .social-link ul {
  margin-bottom: 0;
}
footer .social-link ul li {
  display: inline-block;
}
footer .social-link ul li a {
  color: #cccccc;
  font-size: 25px;
  padding: 0 5px;
  display: inline-block;
}
