@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700);
body {
  font-family: 'Lato', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: 'Lato', sans-serif;
}
h2 {
  font-size: 32px;
  font-weight: 300;
  line-height: 32px;
}
h3 {
  font-size: 24px;
}
p {
  font-size: 16px;
}
.title {
  text-align: center;
}
.title h2 {
  font-size: 36px;
  color: #1b1b1b;
  font-weight: 300;
}
.title p {
  font-size: 18px;
  font-weight: 400px;
  color: #9da8ad;
}
.navbar-default {
  background: transparent;
  border: none;
  margin-bottom: 0;
}
ul li {
  list-style: none;
}
header {
  background-image: url("../images/hero-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
    position: fixed;
  height:100%;
  width:100%;
    top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
header .app-showcase {
  text-align: right;
  padding-top: 28%;
}
header .block {
  padding-top: 30%;
  text-shadow: 2px 2px 5px black;
}
header .block .logo {
  display: inline-block;
  margin-bottom: 70px;
}
header .block h2 {
  margin-bottom: 15px;
  color: #fff;
}
header .block p {
  margin-bottom: 27px;
  margin-top: 0;
  color: #FAFAFA;
}
header .block .download-btn a {
  display: inline-block;
  margin-right: 10px;
}

#myVideo {
  position: fixed;
  left: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

video {
    display: inline-block;
    vertical-align: baseline;
    max-width: 540px;
	border-style: solid;
	border-radius:20px;
	border-width:5px;
}
.privacy {
	color:#fafafa;
	
}