/*		Tablet Layout: 768px.
		Gutters: 24px.
		Outer margins: 28px.
		Inherits styles from: Default Layout.
-----------------------------------------------------------------
cols    1     2      3      4      5      6      7      8
px      68    160    252    344    436    528    620    712    */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  header .app-showcase video {
    max-width: 100%;
  }
  header .block .logo {
    margin-bottom: 35px;
  }
      header .block {
    padding-left:20px;
  }
  .download-btn a img {
    width: 150px;
  }
  
}
/*		Mobile Layout: 320px.
		Gutters: 24px.
		Outer margins: 34px.
		Inherits styles from: Default Layout.
---------------------------------------------
cols    1     2      3
px      68    160    252    */
@media only screen and (max-width: 767px) {
  header {
    padding: 50px 0;
  }
  header .app-showcase video {
    max-width: 100%;
	margin-bottom: -180px;
  }
  header .block .logo {
    margin-bottom: 20px;
  }
  header .block p {
    color: #fff;
  }
    header .block {
    padding-left:20px;
  }
  .download-btn a img {
    width: 130px;
  }
  
}
/*		Wide Mobile Layout: 480px.
		Gutters: 24px.
		Outer margins: 22px.
		Inherits styles from: Default Layout, Mobile Layout.
------------------------------------------------------------
cols    1     2      3      4      5
px      68    160    252    344    436    */
/*	Retina media query.
	Overrides styles for devices with a 
	device-pixel-ratio of 2+, such as iPhone 4.
-----------------------------------------------    */
